{% extends "base.html" %}

{% block content %}

<div style="margin-top:30px">
    <form method="post">
        {% csrf_token %}

        {% if error %}
            <p style="color: red">{{ error }}</p>
        {% endif %}

        <div>
            <input type="text" name="username"
                   placeholder="Username"/>
        </div>

        <div>
            <input type="password" name="password" placeholder="Password">
        </div>

        <input type="submit" placeholder="Login">
    </form>
</div>

{% endblock content %}