{% extends "base.html" %}

{% block content %}

<a href="{% url 'articles:create' %}">Create article</a>
<a href="{% url 'recipes:list' %}">Recipes</a>
<a href="{% url 'articles:detail' slug='hello-world' %}">Highlight hello world</a>

<p>Article list</p>
<ul>
    {% for article in object_list %}
        {% if article.title %}
            <li><a href="{{ article.get_absolute_url }}">{{ article.title }} - {{ article.content }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock content %}
